<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Trang chu</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/style.css">

	</head>
	<body>

		<div class="container">

			<header class="clearfix">
				<div class="col-md-12" style="float: left">
						<p></p>
				</div>

				<div class="col-md-12">
				<div style="float: left">
					<img src="../../images/logo.jpg" alt="" width="61" height="45" class="img-responsive" id = "logo" style="margin-bottom: 20px">
				</div>
				<div style="float: left; margin-left: 200px; margin-top: 10px;">
					<form action="" method="POST" class="form-inline" role="form">

						<div class="form-group">
							<label class="sr-only" for="">label</label>
							<input type="email" class="form-control" id="" placeholder="Nhập từ khóa" style="width: 300px">
						</div>

						<button type="Submit" class="btn btn-primary">Search</button>
					</form>
				</div>
				<div style="float: left; margin-top: 10px; margin-left: 20px">
					<a href="DangKi.html"><button type="Submit" class= "btn btn-primary">Đăng ký</button></a>
					<a href="DangNhap.html"><button type="Submit" class= "btn btn-primary">Đăng Nhập</button></a>
					<button type="Submit" class= "btn btn-primary">Đăng nhập bằng facebook</button>
				</div>
				</div>
			</header>
			<div class="menu">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<!-- <a class="navbar-brand" href="#">Title</a> -->
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-ex1-collapse">
							<ul class="nav navbar-nav">
								<li><a href="#">Phim mới</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Thể loại <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="#">Phim hành động</a></li>
										<li><a href="#">Phim cổ trang</a></li>
										<li><a href="#">Phim kinh dị</a></li>
										<li><a href="#">Phim hài hước</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Quốc gia <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="#">Việt Nam</a></li>
										<li><a href="#">Mỹ</a></li>
										<li><a href="#">Nhật Bản</a></li>
										<li><a href="#">Ấn Độ</a></li>
									</ul>
								</li>
								<li><a href="#">Phim lẻ</a></li>
								<li><a href="#">Phim bộ</a></li>
								<li><a href="#">Trailer</a></li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div>
				</nav>
			</div>
			<div class="banner">
				<div id="carousel-id" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carousel-id" data-slide-to="0" class=""></li>
						<li data-target="#carousel-id" data-slide-to="1" class=""></li>
						<li data-target="#carousel-id" data-slide-to="2" class="active"></li>
					</ol>
			</div>
			<div class="main">
			<div class="show-film">
						<iframe src="<%= data.keys %>" videotype="vimeo" width="100%" height="500" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
				</div>
				<script>
				 $(document).ready(function(){
					$('.show-film').ready(function(){
						$('.show-film').hide(0);
						$('.show-film').slideDown(1500);
					});
				});
			</script>
			</div>
				<div class="row">
					<h4 class="text-uppercase"><span class="glyphicon glyphicon-minus"></span> Phim nổi bật</h4>
					<div class="product">
						<div class="col-md-2">
							<div class="box text-center">
								  <img  src="../../upload/<%= data.imge %>" alt="">
								<h6><a href="#" title="" class="text-capitalize">Titanic</a></h6>
								<a href="#" class="btn btn-success" title="">Xem phim</a>
							</div>
						</div>


							<div class="col-md-2">
	 						 <div class="box text-center">
	 								 <img  src="../../upload/<%= data.imge %>" alt="">
	 							 <h6><a href="#" title="" class="text-capitalize">Titanic</a></h6>
	 							 <a href="#" class="btn btn-success" title="">Xem phim</a>
	 						 </div>
	 					 </div>



						<div class="col-md-2">
							<div class="box text-center">
								<img src="../../images/JonyEnglish.jpg" alt="" class="img-responsive">
								<h6><a href="#" title="" class="text-capitalize">Jony English</a></h6>
								<a href="#" class="btn btn-success" title="">Xem phim</a>
							</div>
						</div>

						<div class="col-md-2">
							<div class="box text-center">
								<img src="../../images/LightOut.jpg" alt="" class="img-responsive">
								<h6><a href="#" title="" class="text-capitalize">Light Out</a></h6>
								<a href="#" class="btn btn-success" title="">Xem phim</a>
							</div>
						</div>

						<div class="col-md-2">
							<div class="box text-center">
								<img src="../../images/Pirates of the caribbean.jpg" alt="" class="img-responsive">
								<h6><a href="#" title="" class="text-capitalize">Pirates of the caribbean</a></h6>
								<a href="#" class="btn btn-success" title="">Xem phim</a>
							</div>
						</div>

						<div class="col-md-2">
							<div class="box text-center">
								<img src="../../images/Pirates of the caribbean2.jpg" alt="" class="img-responsive">
								<h6><a href="#" title="" class="text-capitalize">Pirates of the caribbean 2</a></h6>
								<a href="#" class="btn btn-success" title="">Xem phim</a>
							</div>
						</div>

						<div class="col-md-2">
							<div class="box text-center">
								<img src="../../images/Pirates of the caribbean3.jpg" alt="" class="img-responsive">
								<h6><a href="#" title="" class="text-capitalize">Pirates of the caribbean 3</a></h6>
								<a href="#" class="btn btn-success" title="">Xem phim</a>
							</div>
						</div>

						<div class="col-md-2">
							<div class="box text-center">
								<img src="../../images/Pirates of the caribbean4.png" alt="" class="img-responsive">
								<h6><a href="#" title="" class="text-capitalize">Pirates of the caribbean 4</a></h6>
								<a href="#" class="btn btn-success" title="">Xem phim</a>
							</div>
						</div>

						<div class="col-md-2">
							<div class="box text-center">
								<img src="../../images/ResidentEvil.jpg" alt="" class="img-responsive">
								<h6><a href="#" title="" class="text-capitalize">Resident Evil</a></h6>
								<a href="#" class="btn btn-success" title="">Xem phim</a>
							</div>
						</div>

						<div class="col-md-2">
							<div class="box text-center">
								<img src="../../images/TamCam.jpg" alt="" class="img-responsive">
								<h6><a href="#" title="" class="text-capitalize">Tấm Cám</a></h6>
								<a href="#" class="btn btn-success" title="">Xem phim</a>
							</div>
						</div>

						<div class="col-md-2">
							<div class="box text-center">
								<img src="../../images/TheConjuring.jpg" alt="" class="img-responsive">
								<h6><a href="#" title="" class="text-capitalize">The Conjuring</a></h6>
								<a href="#" class="btn btn-success" title="">Xem phim</a>
							</div>
						</div>

						<div class="col-md-2">
							<div class="box text-center">
								<img src="../../images/TheConjuring2.jpg" alt="" class="img-responsive">
								<h6><a href="#" title="" class="text-capitalize">The Conjuring 2</a></h6>
								<a href="#" class="btn btn-success" title="">Xem phim</a>
							</div>
						</div>

						<div class="col-md-2">
							<div class="box text-center">
								<img src="../../images/WarCraft.jpg" alt="" class="img-responsive">
								<h6><a href="#" title="" class="text-capitalize">War Craft</a></h6>
								<a href="#" class="btn btn-success" title="">Xem phim</a>
							</div>
						</div>


					</div>
				</div> <!-- end row -->

			</div> <!-- end main -->
			<footer>
				<div class="clearfix">
					<div class="col-md-3">
						<img id = "logo" src="../../images/logo.jpg" alt="" class="img-responsive">
					</div>
					<div class="col-md-3">
						<h5>Phim mới</h5>
						<ul class="list-unstyled">
							<li><a href="#" title="">Phim lẻ mới</a></li>
							<li><a href="#" title="">Phim bộ mới</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h5 class="text-capitalize">Phim nổi bật</h5>
						<ul class="list-unstyled">
							<li><a href="#" title="">Phim hành động</a></li>
							<li><a href="#" title="">Phim kinh dị</a></li>
							<li><a href="#" title="">Phim cổ trang</a></li>
							<li><a href="#" title="">Phim tình cảm</a></li>
						</ul>
					</div>

					<div class="col-md-3">
						<h5 class="text-uppercase">Liên hệ quảng cáo</h5>
					</div>
					<div class="col-md-12" style="background-color: ">
						<p>Team Sky</p>
					</div>
				</div>
			</footer>
		</div>

		<!-- jQuery -->
		<script src="../js/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="../js/bootstrap.min.js"></script>
	</body>
</html>
